<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/customer_frontend_style.css" />
    
    <!-- Apple mobile web app stuff -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="apple-mobile-web-app-title" content="SBB Hack">
    <link rel="apple-touch-icon" href="/images/sbb_logo.jpg">
    
    <!-- Favicon -->
    <link rel="icon" type="image/jpg" href="/images/sbb_logo.jpg">
    
    <title>Customer Frontend</title>
</head>
<body>
    <main>
        <section id="header-application-id">
            <h1>Welcome!</h1>
            <p>Please enter the ID given to you by your travel agent: <input type="tel" value="<%= query.id %>" id="app-id" name="app-id"/></p>
            <a href="#" id="header-application-id-next" class="next-button">Next</a>
        </section>
        <section id="travel-dates">
            <h3>When would you like to travel?</h3>
            <label for="from-date">Out:</label><input type="date" id="from-date" name="from-date" />
            <label for="return-date">Return:</label><input type="date" id="return-date" name="return-date" />
            <a href="#" id="travel-dates-next" class="next-button">Next</a>
        </section>
        <!-- <section id="travel-cities">
            <h3>What cities would you like to start and end your trip at?</h3>
            <label for="start-city">Start:</label><input type="text" id="start-city" name="start-city" />
            <label for="end-city">End:</label><input type="text" id="end-city" name="end-city" />
            <a href="#" id="travel-cities-next" class="next-button">Next</a>
        </section> -->
        <section id="activities-like">
            <h3>Which activities do you enjoy?</h3>
            <div id="tiles-like" class="tiles-container">
                <!-- Will be populated with activites -->
            </div>
            <a href="#" id="activities-like-next" class="next-button">Next</a>
        </section>
        <section id="activities-dislike">
            <h3>Which activities do you not enjoy?</h3>
            <div id="tiles-dislike" class="tiles-container">
                <!-- Will be populated with activities -->
            </div>
            <a href="#" id="activities-dislike-next" class="next-button">Submit</a>
        </section>
        <section id="thank-you">
            <h1>Thank you!</h1>
            <p>Your application has been submitted. Your application ID is <b id="b-app-id"></b>.</p>
        </section>
    </main>
    
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <!-- Custom JS -->
    <% if (query.id !== undefined) { %>
        <script>window.ID_INCLUDED = true</script>
    <% } %>
    <script src="/scripts/customer_frontend_script.js"></script>
</body>
</html>
