<!doctype html>
<html>
<head>
    <title>Hello</title>
</head>
<body>
    <h1>Hi!</h1>
    <h2><%= txt %></h2>
    <% if(query.q) { %>
        <h3><%= query.q %></h3>
    <% } %>
    <h4>To see a cooler webpage using Bootstrap, <a href="/bootstrap">click here</a>.
</body>
</html>
