body {
    padding: 20px;
}

main {
    width: 60%;
    margin: auto;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 2px rgba(0,0,0,.05);
    min-width: 300px;
}

.tiles-container {
    overflow: auto;
    margin-bottom: 1rem;
}

a.tile-activity {
    box-sizing: content-box;
    width: 150px;
    border: 1px solid #efefef;
    height: 50px;
    text-align: center;
    float: left;
    line-height: 50px;
    background: #fbfafa;
    margin: 5px;
    border-radius: 2px;
    color: #000;
    text-decoration: none;
    transition: background 0.3s;
}

a.tile-activity-like:hover {
    background: #ebf9dd;
}

a.tile-activity-like.selected {
    background: #a5ef6e;
}

a.tile-activity-dislike:hover {
    background: #ffebe8;
}

a.tile-activity-dislike.selected {
    background: #fd8787;
}

a.tile-activity-disabled {
    background: #e2e2e2;
    color: #a7a7a7;
}
