<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <title>Mr Travel Agent!</title>
    </head>
    <body>
        <div id="app" class="container">
            <div class="header clearfix">
                <nav class="">
                    <ul class="nav justify-content-center">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="/">
                                <span style="color:black;">You're editing the Tour of
                                </span>{{customer_name}}</a>
                        </li>

                    </ul>
                </nav>
            </div>
            <main>
                <div class="row" v-for="s in tour.steps">
                    <div class="col">
                        <h5>{{s.date}}</h5>
                        <div v-for="c in s.columns">
                            <!-- flight -->
                            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;" v-if="c.type === 'flight'">
                                <div class="card-header">Flight</div>
                                <div class="card-body">
                                    <h5 class="card-title">From
                                        <b>{{c.from.city}}
                                            -
                                            {{c.from.airport}}</b>
                                    </h5>
                                    <p class="card-text">{{c.starttime}}
                                        &bull; Gate
                                        {{c.from.gate}}</p>
                                    <h5 class="card-title">To
                                        <b>{{c.to.city}}
                                            -
                                            {{c.to.airport}}</b>
                                    </h5>
                                    <p class="card-text">{{c.endtime}}
                                        &bull; Terminal
                                        {{c.to.terminal}}</p>
                                    <p>Flying with
                                        {{c.code}}</p>
                                </div>
                            </div>
                            <!-- end of flight -->
                            <!-- train -->
                            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;" v-if="c.type === 'train'">
                                <div class="card-header">Trip</div>
                                <div class="card-body">
                                    <h5 class="card-title">From
                                        <b>{{c.from.city}}</b>
                                    </h5>
                                    <p class="card-text">{{c.from.station}}
                                        @
                                        {{c.starttime}}
                                        on plattform
                                        {{c.from.platform}}</p>
                                    <h5 class="card-title">To
                                        <b>{{c.to.city}}</b>
                                    </h5>
                                    <p class="card-text">{{c.to.station}}
                                        @
                                        {{c.endtime}}
                                        on plattform
                                        {{c.to.platform}}</p>
                                </div>
                            </div>
                            <!-- end of train -->
                            <!-- activity -->
                            <div class="card text-white bg-success mb-3" style="max-width: 18rem;" v-if="c.type === 'activity'">
                                <div class="card-header">Activity</div>
                                <div class="card-body">
                                    <h5 class="card-title">{{c.name}}</h5>
                                    <p>{{c.categories}}</p>
                                    <p>{{c.starttime}}
                                        -
                                        {{c.endtime}}
                                        &bull;
                                        {{c.location}}</p>

                                    <p class="card-text">{{c.explain}}</p>
                                </div>
                            </div>
                            <!-- end of activity -->
                            <!-- sleep -->

                            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;" v-if="c.type === 'sleep'">
                                <div class="card-header">Sleep</div>
                                <div class="card-body">
                                    <h5 class="card-title">{{c.name}}</h5>
                                    <p>{{c.location}}</p>
                                    <p>{{c.startdate}}
                                        {{c.starttime}}
                                        -
                                        {{c.enddate}}
                                        {{c.endtime}}</p>
                                    <p class="card-text">{{c.explain}}</p>
                                </div>
                            </div>
                            <!-- end of sleep -->
                        </div>
                    </div>
                </div>

            </main>
            <footer class="footer text-center">
                <p>Logic is the beginning of wisdom, not the end.</p>
                <button class="btn" v-on:click="getTour();">Load</button>
            </footer>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="app.js" charset="utf-8"></script>
    </body>
</html>